<footer class="text-center text-lg-start bg-primary">

{#--------------------------  adress ------------------------ #}

    <div class="container text-center text-md-start mt-5 container-footer">
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-md-4 col-lg-5 col-xl-5 mb-md-0 mb-4 container-footer__contact text-center">
                <h3 class="text-uppercase fw-bold mb-4 text-white">Garage V.Parrot</h3>
                <p class="text-white fs-5 fw-semibold m-0 mt-1">245 avenue Jean Moulin</p>
                <p class="text-white fs-5 fw-semibold m-0 mt-1">
                    66 666 New-York sur Loire
                </p>
                <p class="text-white fs-4 fw-semibold mt-3">06 70 94 32 28</p>
                <button 
                    type="button" 
                    class="container-footer__btn btn btn-info text-white fs-4 mt-4 text-uppercase">
                    Nous contacter
                </button>
            </div>
            <div class="col-md-5 col-lg-5 col-xl-5 mb-4 container-footer__schedules">
                <h2 class="text-uppercase mb-4 text-white text-center container-footer__schedules-title">
                    Horaires d'ouvertures
                </h2>
                <ul class="p-0 container-footer__schedules-ul">
                    {% for schedule in schedules %}
                    <li class="container-footer__schedules-li">
                    <span class="container-footer__schedules-li-day">{{schedule.day}} :</span>
                    <span class="container-footer__schedules-li-time">
                        {% if schedule.getSchedulesAfternoon  is not empty %}
                        {{schedule.getSchedulesMorning}} | {{ schedule.getSchedulesAfternoon }}
                        {% elseif schedule.getSchedulesAfternoon is empty %} 
                        {{schedule.getSchedulesMorning}}
                        {% endif %}
                    </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</footer>
