{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Tableau de bord{% endblock %}

{% block main %}
<h2>Bienvenue sur l'admin</h2>

<a type="button" class="btn btn-primary p-2 mt-3 fs-3" href={{path('index')}}>Retour au site</a>

{% endblock %}