{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}


{% block body %}

<main>

{# ------------------------------title -------------------------- #}

    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Nos voitures d'occasion</h1>
                                
{# --------------------modal------------------------- #}
                <div class="modalButton">
                    <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Button with data-bs-target
                        </button>
                    </p>
                </div>
{# -------------------- fin modal------------------------- #}
            </div>
        </div>
    </section>

{# --------------------------- section car  ----------------------------- #}

<section class="container-xxl container-car">

{# ------------------------- filters form ------------------------------#}

    <div class="row container-car__filter test js-filter ">

        {% include 'car/_form.html.twig' with {'form':form} %}

{# ------------------ Car cards ------------------------ #}

        <div class="col-xxl-9 col-md-8 col-sm-10 container">
            <div class="row js-filter-content">
                {% include 'car/_cars.html.twig'%}
                <div class="js-filter-pagination">
                    {{ knp_pagination_render(cars) }}
                </div>
            </div>
        </div>

    </div>
</section>

</main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/car.js') }}"></script>
{% endblock %}

