.container-footer
    &__btn
        width: auto
        border-radius: 10px
        &:hover
            background-color: lighten(#443535, 10%)

    &__schedules
        min-width: 500px
        &-title
            border-bottom: 0.2rem solid white
            padding-bottom: 1rem
        &-ul
        &-li
            font-size: 1.5rem
            color: #FFF
            line-height: normal
            display: flex
            justify-content: space-between
            align-items: center
            @media screen and (max-width: 450px)
                font-size: 1.2rem
                display: block
            &-day
                flex: 1
                text-align: left
                padding-left: 20px
            &-time
                padding-right: 20px
    