.header
    position: fixed
    top: 0px
    width: 100%
    min-height: 140px

    &__li 
        font-size: 2rem
        padding: 0 2rem 0 2rem
        text-transform: uppercase

    &__li a
        color: white

.navbar__ul
    margin: auto
    flex-grow: 0



