@use '../base/_custom' as color

.section-review
    &__cards

    &__container-cards
        max-width: 1600px
        margin-bottom: 4rem
        align-self: center

    &__title
        color: color.$primary

    &__cards
        height: 18rem

    &__cards-author
        color: color.$primary
        padding: 0.5rem


.form-reviews
    max-width: 800px
    background-color: white
    padding: 2rem
    margin: 2rem auto
    border-radius: 20px