.section-service
    background-image: url('../../media/volant.jpg') 
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden
    height: 100vh
    padding-left: 0
    padding-right: 0

    div
        padding-left: 0
        padding-right: 0

    &__presentation

        &-text
            width: 50%
            color: white
            font-size: 3rem

        img
            width: 40%
            object-fit: scale-down


