@import "./layout/_custom";
@import "~bootstrap/scss/bootstrap";
@import "./layout/_header.scss";

body {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}

.navbar_test {
  margin: auto;
  flex-grow: 0;
}
